@charset "UTF-8";
body {
    margin: 0 9%;
}

.cabeçalho {
    margin: 50px 0px 61px -27px;
    ;
    align-items: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.cab1 {
    width: 10px;
    height: 10px
}

.logo {
    height: 200px;
    width: 200px;
    margin-left: 199px;
}

.cab2 {
    margin-left: 175px;
}

.teste {
    margin-right: 18px;
    display: flex;
}

input {
    width: 292px;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px gray;
}

.cab3 {
    padding: 9px;
    width: 150px;
    border: solid 1px gray;
    text-align: center;
    height: 40px;
}

.cab4 {
    display: flex;
    margin-left: 38px;
    padding: 9px;
    width: 150px;
    border: solid 1px gray;
    text-align: center;
    height: 40px;
    justify-content: space-evenly;
}

nav {
    margin: 26px 1px;
    padding: 20px;
    font-size: 19px;
    width: 1100px;
    text-align: center;
    color: white;
    display: flex;
    background-color: rgb(253, 48, 48);
    height: 72px;
    align-content: normal;
    justify-content: space-evenly;
    text-indent: -227px;
}

.cont {
    width: 1115px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.cont1 {
    margin-right: 1%;
    width: 23%;
    height: 378px;
    border: solid 1px;
}

.cont2 {
    margin-right: 1%;
    width: 23%;
    height: 378px;
    border: solid 1px;
}

.cont3 {
    margin-right: 1%;
    width: 23%;
    height: 378px;
    border: solid 1px;
}

.cont4 {
    margin-right: 0.5%;
    width: 23%;
    height: 378px;
    border: solid 1px;
}

.final {
    margin: 76px 10px;
    padding: 30px;
    height: 356px;
    width: 1100px;
    display: flex;
    font-size: 17px;
    text-align: center;
    color: white;
    background-color: rgb(235, 70, 70);
    justify-content: space-around;
    text-indent: -92px
}

h1 {
    font-size: 20px;
}

.img1 {
    margin: 26px 1px;
}

.img2 {
    display: flex;
    margin: 72px -27px 89px -30px;
    justify-content: space-evenly;
}

footer {
    font-size: 19px;
    color: rgb(231, 82, 82);
    text-align: center;
    margin: 10px 10px;
}

.f1 {
    width: 91%;
    height: 54%;
    padding: 26px;
    margin: 8px 10px;
    background-color: rgb(242, 230, 230);
}

.t1 {
    font-size: 24px;
    text-align: center;
}

.f2 {
    width: 91%;
    height: 54%;
    padding: 26px;
    margin: 8px 10px;
    background-color: rgb(242, 230, 230);
}

.t2 {
    font-size: 24px;
    text-align: center;
}

.f3 {
    background-color: rgb(242, 230, 230);
    width: 91%;
    height: 54%;
    padding: 26px;
    margin: 8px 10px;
}

.t3 {
    font-size: 24px;
    text-align: center;
}

.f4 {
    background-color: rgb(242, 230, 230);
    width: 91%;
    height: 54%;
    padding: 26px;
    margin: 8px 10px;
}

.t4 {
    font-size: 24px;
    text-align: center;
}

.pesquisa {
    background-size: 22px;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
}

.cesta {
    height: 26px;
    width: 22px;
}

@media screen and (max-width: 480px) {
    body {
        margin: revert;
    }
    .cabeçalho {
        display: none;
    }


}

@media screen and (max-width: 360px) {
    body {
        margin: revert;
    }
    .cabeçalho {
        display: none;
    }

    nav {
        margin: 26px 1px;
        margin: 0;
        padding: 0;
        font-size: 19px;
        text-align: center;
        color: white; 
        display: flex;
        background-color: rgb(253, 48, 48);
        flex-direction: column;
        text-indent: inherit;
        width: 100%;
        height: 100%;
    }

    .img1 > img {
        width: 100%;
    }

    .img2 {
        flex-wrap: wrap;
        height: 700px;
        align-items: flex-start;
    }

    .cont {
        flex-direction: column;
        width: 100%;
        height: 1600px;
        align-items: center;
    }

    .cont1, .cont2, .cont3, .cont4 {
        width: 75%;
    }

    .final {
        width: 95%;
        flex-direction: column;
        height: auto;
    }

    .final1, .final2, .final3, .final4 {
        margin-left: 25%;
    }
}

